.main-aboutus {
  padding: 0;
  padding-top: 14px;
  padding-bottom: 14px;
  @include background-image-retina('../img/aboutus-bg', 'jpg', auto, auto);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center 0;

  @include respond-to('papa-bear') {
    padding-top: 48px;
    padding-bottom: 43px;
  }
}

.main-aboutus__wrapper {
  @include container-fluid;
  text-align: center;
}

.main-aboutus__wrapper {
  padding: 0;
  width: auto;
}

.main-aboutus__title {
  @extend .main-timer__title;

  @include respond-to('papa-bear') {
    font-size: 40px;
  }
}

.main-aboutus__list {
  display: inline-block;
  margin: 0;
  padding: 0;
  width: 100%;
  list-style: none;

  @include respond-to('papa-bear') {
    display: flex;
    justify-content: space-between;
  }
}

.main-aboutus__item {
  margin-top: 27px;
  width: 100%;

  @include respond-to('papa-bear') {
    margin-top: 52px;
    width: 20%;
  }
}

.main-aboutus__item-description {
  position: relative;
  margin: 0 auto;
  padding: 0;
  padding-top: 104px;
  width: 90%;
  font-size: 16px;
  font-weight: 400;

  i {
    position: absolute;
    top: 0;
    left: 50%;
    width: 78px;
    height: 77px;
    background: transparent url("../img/sprite/sprites.png") no-repeat -196px -8px;
    transform: translateX(-50%);
  }

  @include respond-to('papa-bear') {
    padding-top: 116px;
  }
}

.main-aboutus__item-description--2 {
  i {
    width: 84px;
    height: 89px;
    background-position: -8px -195px;
  }
}

.main-aboutus__item-description--3 {
  i {
    width: 78px;
    height: 77px;
    background-position: -108px -195px;
  }
}

.main-aboutus__item-description--4 {
  i {
    width: 47px;
    height: 89px;
    background-position: -202px -195px;
  }
}

.main-aboutus__item-description--5 {
  i {
    width: 70px;
    height: 68px;
    background-position: -290px -8px;
  }
}

aside[id*="-control"].border .slidr-control {
  top: 50% !important;
  width: 29px !important;
  height: 80px !important;
  background-color: #61c332;
  transform: translateY(-50%);
}

aside[id="slidr-aboutus-control"] .slidr-control.right::after,
aside[id="slidr-aboutus-control"] .slidr-control.left::after {
  width: 20px !important;
  height: 20px !important;
  border: 1px solid #ffffff !important;
  transform: translateX(-50%);
}

aside[id="slidr-aboutus-control"] .slidr-control.right::after {
  right: 10px !important;
  border-top-color: transparent !important;
  border-left-color: transparent !important;
  transform: rotate(-45deg);
}

aside[id="slidr-aboutus-control"] .slidr-control.left::after {
  left: 10px !important;
  border-top-color: transparent !important;
  border-right-color: transparent !important;
  transform: rotate(45deg);
}

aside[id*="-control"] .slidr-control.up,
aside[id*="-control"] .slidr-control.down {
  display: none !important;
}